<div class="card border-0" style="width: 18rem;">

    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-100" src="https://scontent.fcgh23-1.fna.fbcdn.net/v/t1.0-9/12744543_848888851888328_2741078138832818341_n.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=0tn9He0K3TUAX_atM5E&_nc_ht=scontent.fcgh23-1.fna&oh=9b12b538583a08503414c73f872c44d9&oe=5FC90741" class="card-img-top rounded-circle w-75" alt="Fon">
        <div class="card-body">
            <h5 class="card-title text-center text-monospace">{{nome}}</h5>
            <p class="card-text text-center text-monospace">Desenvolvedor Java Jr. </p>
            
            
            <a href="https://www.instagram.com/_jooseguilherme/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Instagram</a>
      
            <a href="https://www.facebook.com/zezinho99/" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">Facebook</a>
          </div>
   
    </div>
    
    
  </div>
